body{
    text-align: center;
    margin-top: 20PX;
    background-color: #E8F5E9
    }


button{

font-size: 20px;
margin: 10px;
padding: 10px 20px;
cursor: pointer;
color:rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
border : 2px solid white;
}

button:hover{
    background-color: rgb(11, 114, 109);
    color: white;
}

h1{
    font-size: 50px;
    color: black;
}

#countDisplay{
    font-size: 55px;
    font-weight: bold;
    color: rgb(11, 97, 9);
}

